<aside class="sidebar" [class.collapsed]="isCollapsed">
  <div class="sidebar-header">
    <div class="platform-selector" (click)="togglePlatformDropdown()">
      <i class="fab fa-instagram" *ngIf="selectedPlatform === 'instagram'"></i>
      <i class="fas fa-th-large" *ngIf="selectedPlatform === 'all'"></i>
      <span *ngIf="!isCollapsed">{{ platformDisplayName }}</span>
      <i *ngIf="!isCollapsed" class="fas fa-chevron-down dropdown-arrow" [class.rotated]="showPlatformDropdown"></i>
    </div>
    
    <!-- Platform dropdown menu -->
    <div class="platform-dropdown" [class.show]="showPlatformDropdown && !isCollapsed">
      <div class="dropdown-option" (click)="selectPlatform('all')">
        <i class="fas fa-th-large"></i>
        <span>All Platforms</span>
      </div>
      <div class="dropdown-option" (click)="selectPlatform('instagram')">
        <i class="fab fa-instagram"></i>
        <span>Instagram</span>
      </div>
      <div class="dropdown-option add-account" (click)="showAddAccount()">
        <i class="fas fa-plus-circle"></i>
        <span>Add Account</span>
      </div>
    </div>
    
    <!-- Desktop collapse button -->
    <button class="toggle-btn desktop-only" (click)="toggleSidebar()">
      <i class="fas" [class.fa-chevron-left]="!isCollapsed" [class.fa-chevron-right]="isCollapsed"></i>
    </button>
    
    <!-- Mobile close button -->
    <button class="mobile-close mobile-only" (click)="closeSidebar()">
      <i class="fas fa-times"></i>
    </button>
  </div>
  
  <nav class="sidebar-nav">
    <ul>
      <li *ngFor="let item of navItems">
        <a [routerLink]="item.route" [class.active]="item.active" (click)="onNavItemClick()">
          <i class="fas {{ item.icon }}"></i>
          <span *ngIf="!isCollapsed">{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </nav>
  
  <div class="sidebar-footer" *ngIf="!isCollapsed">
    <div class="create-post-btn">
      <a [routerLink]="['/content-creation']" class="btn-primary" (click)="onNavItemClick()">
        <i class="fas fa-plus"></i>
        Create New Post
      </a>
    </div>
  </div>
</aside>
