<div class="app-container">
  <app-header *ngIf="authService.isLoggedIn()">
    <!-- Mobile menu toggle button -->
    <button class="mobile-menu-toggle" (click)="toggleSidebar()">
      <i class="fas" [ngClass]="isSidebarOpen ? 'fa-times' : 'fa-bars'"></i>
    </button>
  </app-header>
  
  <div class="content-wrapper" [ngClass]="{'collapsed-sidebar': isSidebarCollapsed}">
    <app-sidebar 
      *ngIf="authService.isLoggedIn()" 
      [ngClass]="{'show': isSidebarOpen, 'collapsed': isSidebarCollapsed}" 
      (closeMobileSidebar)="closeSidebar()"
      (addAccountClicked)="openAddPlatformModal()"
      (sidebarCollapsedChange)="onSidebarCollapsedChange($event)">
    </app-sidebar>
    <div class="sidebar-overlay" [ngClass]="{'active': isSidebarOpen}" (click)="closeSidebar()"></div>
    
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
  
  <!-- Onboarding Tour Component -->
  <app-tour></app-tour>
  
  <!-- Toast Messages -->
  <app-toast-message></app-toast-message>
  
  <!-- Add Platform Modal -->
  <app-add-platform-modal></app-add-platform-modal>
  
  <!-- Onboarding Modal -->
  <app-onboarding-modal></app-onboarding-modal>
</div>
